@page
    <div class="container">

        <div class="title">
            <h2>Welcome - ChattaBox</h2>
        </div>

        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                User: &nbsp; &nbsp;  &nbsp; &nbsp; <input type="text" id="userInput" />
                <br /><br />
                Message: &nbsp; <input type="text" id="messageInput" /> &nbsp;
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>

        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @*<script src="~/js/es5-chat.js"></script>*@
