
@{
    ViewData["Title"] = "Chat";
}

@*<meta name="viewport" content="width=device-width, initial-scale=1">*@

<table id="customers">
    <thead align="center">
        <tr >
            <th align="center">Active Users</th>
            <th align="center">Chats</th>
            <th align="center">Channels</th>

        </tr>
    </thead>
    <tr>
        <td align="center" id="channel-users">
            <div class="channel-user">
                <div class="channel-username">
                    <img src="~/images/Male.png" class="avatar" />
                Bob
                </div>
            </div>
            <div class="channel-user">
                <div class="channel-username">
                    <img src="~/images/Female.png" class="avatar" />
                    Sue
                </div>
                
           </div>
            <div class="channel-user">
                <div class="channel-username">
                <img src="~/images/Male.png" class="avatar"/>
                   ken </div>

            </div>

            <div class="channel-user">
                <div class="channel-username">
                    <img src="~/images/Female.png" class="avatar"/>
                    Barbie </div>

            </div>

            <div class="channel-user">
                <div class="channel-username">
                    <img src="~/images/Female.png" class="avatar"/>
                    Sally
                </div>
            </div>

            <div class="channel-user">
                <div class="channel-username">
                    <img src="~/images/Male.png" class="avatar" />
                    Goku
                </div>
            </div>

        </td>

        <td align="center">
            <div class="chat-popup" id="myForm">
                <form action="/action_page.php" id="chat-form" class="form-container">
                    <h1 id="chat-channel-name">Sports</h1>
                    <div id="messages">
                        <div class="message">
                            <div class="message-username">Bob</div>
                            <div class="message-text">What's up?</div>
                        </div>
                    </div>
                    
                    <textarea placeholder="Type message..." id="messageText" required></textarea>

                    <button type="button" class="btn" id="sendMessageButton">Send</button>

                </form>
            </div>
        </td>
        <td align="center" id="channels">
            <div class="channel">
                <div class="channel-name"><a href="#">Sports</a></div>
                <div class="channel-description">Your channel for all things sport!</div>
            </div>
            <div class="channel">
                <div class="channel-name"><a href="#">Movies</a></div>
                <div class="channel-description">Your channel for all things Movies!</div>
            </div>
            <div class="channel">
                <div class="channel-name"><a href="#">Celebrities</a></div>
                <div class="channel-description">Your channel for all things Celebrity!</div>

            </div>
            <div class="channel">
                <div class="channel-name"><a href="#">Fashion</a></div>
                <div class="channel-description">Your channel for all things Fashion!</div>
            </div>
            <div class="channel">
                <div class="channel-name"><a href="#">Entertainment</a></div>
                <div class="channel-description">Your channel for all things Entertainment!</div>
            </div>

            
    <div class="channel">
        <div class="channel-name"><a href="#">Comics</a></div>
        <div class="channel-description">Your channel for all things Comics!</div>
    </div>
    <div class="channel">
        <div class="channel-name"><a href="#">Food</a></div>
        <div class="channel-description">Your channel for all things Food!</div>
    </div>
    <div class="channel">
        <div class="channel-name"><a href="#">Technology</a></div>
        <div class="channel-description">Your channel for all things Tech!</div>
    </div>
        



        </td>
    </tr>

</table>


<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";



</script>

