@{
    ViewData["Title"] = "Home Page";
}


<div style="align-items:center">
    <br><br>
    <h1><center> Welcome to ChattaBox </center></h1>
</div>

<br><br>
<div>
    <div class="login-page">
        <div class="form">
            <h2>Login</h2>
            <br>
            <form class="login-form" action="@Url.Action("index", "chat")">

                <label for="male">Username</label>
                <input type="text" placeholder="username" />

                <label for="male">Password</label>
                <input type="password" placeholder="password" />
                <button>login</button>

            </form>

        </div>
    </div>

</div>



